{% extends "web/base.html" %}

{% block title %}CORDEX Experiment Manager | Experiments {% endblock %}

{% block content %}



    <div class="row">
      <h4>Experiment submissions matrix</h4>
      <table class="table table-bordered table-condensed">
        
        <tr>
          <td colspan="2"></td>
          <td>Models</td>
        </tr>

        <tr>
          <td colspan="2">Experiment/Tier</td>
            {% for model in models %}
                <td>{{ model }}</td>
            {% endfor %}
        </tr>

        {% for meta_experiment in meta_experiments %}
          <tr>
          {% if forloop.counter == 1 %} <td> {{ meta_experiment }} </td> 
          {% else %} <td></td> {% endif %}

            {% for experiment in meta_experiment.experiments.all %}
              <td>{{ experiment }}</td>

                  {% for model in models %}
                    {% for submission in submissions %}
                      {% if submission.experiment == experiment and submission.model == model %}
                          {% if submission.uploads.all|length > 0 %}
                            <td style="background-color:green">{{ submission.uploads.all|length }}</td>
                          {% else %}
                            <td></td>
                          {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

            {% endfor %}
          </tr>
        {% endfor %}

      </table>


    </div>



{% endblock %}

