{% extends "web/base.html" %}

{% block title %}CORDEX Experiment Manager | Experiments {% endblock %}

{% block content %}



    <div class="row">
      <h4>Experiment submissions matrix</h4>
      <table class="table table-bordered table-condensed">
      
          <tr><td></td>
            {% for model in models %}<td>{{ model }}</td>{% endfor %}
          </tr>

      {% for name, meta_experiment in matrix.items %}
          <tr><td><strong>{{ name }}</strong></td></tr>

          {% for name, experiment in meta_experiment.items %}
            <tr><td>{{ name }}</td>

               {% for column in experiment %}
                  
                  {% if column > 0 %}
                    <td style="background-color:green">{{ column }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}

               {% endfor %}
            </tr>
          {% endfor %}

      {% endfor %}

      </table>


    </div>



{% endblock %}

