{% extends "web/base.html" %}
{% block title %}CORDEX Experiment Manager {% endblock %}

{% block content %}
<h3>CORDEX Experiment Manager</h3>
<p>
Welcome to the CORDEX Experiment Manager web platform.  This platform facilitates the design, configuration, and management of coordinated numerical experiments.  Currently the platform is focussed
on the CORDEX Empirical Statistical (CORDEX-ESD) project but it is intended that the platform could be extended to support a wide range of coordinated numerical experiments.
</p>
<h3>Using the platform</h3>
<p>The manager consists of two main sections, experiments, and submissions.  These are always accesible through the menu at the top of the page.</p>

<h4>Experiments</h4><p>The first is <a href="/experiments/">experiments</a>.  This section lists the currently open experiments and allows details of each experiment to be viewed.  Admistrators are able to create new experiments or edit existing experiments.  Participants are only able to view experiments and add comments/questions to experiments.</p>

<h4>Submissions</h4><p>The second section is the <a href="/submissions/">submission</a> section.  This section allows a partcipant to submit results to a particular experiment.  Results submissions take place through uploads such that a single submission may consist of multiple uploads.  Each upload contributes to the final submission for that participant for an experiment.  Each time an upload is added to a submission the submission is re-processed to check it for compliance with the experiment configuration, convert it to a standard data format, and merge dates and variables as needed.  The processing takes place in the background and current status of all a partcipants submissions can be viewed at any time in the <a href="/submissions/">submission</a> section of the platform.
</p>

{% endblock %}
