{% extends "web/base.html" %}

{% block title %}CORDEX Experiment Manager | Model {{ model.title }} {% endblock %}

{% block content %}

<div class="row">

<h4>Editing model: <strong>{{ model }}</strong></h4>

  <form action="{% url 'api:model-detail' model.id %}" method="POST" class="model-form">
    {% csrf_token %}
    
    <input type="hidden" name="slug" value="{{ model.slug }}">
    <input type="hidden" name="title" value="{{ model.title }}">
    <label for="model-description">Model description</label>
    <textarea name="description" class="form-control" id="model-description" placeholder="Enter a brief description of the model">{{ model.description }}</textarea>

    <input type="hidden" name="contact" value="{{ user_profile.id }}">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Save description and meta-data">
    <a href="{% url 'web-models-list' %}">Go back to models list</a>

  </form>

  <hr>
  <h3>Model Meta-data</h3>

  {% for term in meta_list %}
  <form action="{% url 'api:modelmeta-detail' term.1.id %}" method="POST" class="modelmeta-form">
    {% csrf_token %}
    <input type="hidden" name="term" value="{{ term.0.id }}">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      {% if term.0.multiple %}
          <div class="col-md-4">
            <p><strong>{{ term.0.long_name }}</strong></p>
            {% for value in term.0.values.all %}
              {% if value.value in term.1.value%}
                <input type="checkbox" name="value" checked=True value="{{ value }}">{{ value }}</input><br/>
              {% else %}
                <input type="checkbox" name="value" value="{{ value }}">{{ value }}</input><br/>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-8">
            <p>{{ term.0.help_text }}</p>
          </div>
      {% endif %}

      {% if not term.0.multiple %}
          <div class="col-md-4">
            <p><strong>{{ term.0.long_name }}</strong></p>
            {% for value in term.0.values.all %}
              {% if value.value in term.1.value %}
                <input type="radio" name="value" checked=True value="{{ value }}">{{ value }}</input><br/>
              {% else %}
                <input type="radio" name="value" value="{{ value }}">{{ value }}</input><br/>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-8">
            <p>{{ term.0.help_text }}</p>
          </div>
      {% endif %}
    </div>
    <hr/>
  </form>
  {% endfor %}

</div>

<script>

function submit_metaterms(model_id) {

  $(".modelmeta-form").each(function(idx, form) {
    console.log("attempting to submit form");
    form_array = $(form).serializeArray();

    var url = $(form).attr('action');
    form_array.push({'name':'model', 'value':model_id});

    // Combined values from multiple selection
    combined_value = '';
    for (i = 0; i < form_array.length; i++) {
      if (form_array[i].name == 'value') combined_value += form_array[i].value + ',';
    }

    // Construct FormData instance
    formdata = new FormData()
    for (i = 0; i < form_array.length; i++) {
      if (form_array[i].name != 'value') formdata.append(form_array[i].name, form_array[i].value)
    }
    formdata.append('value', combined_value);

    console.log(form);
    console.log(url);

    $.ajax({
        url: url,
        type: 'POST',
        data: formdata,
        contentType: false,
        processData: false,
        success: function(res) {
          console.log('success!');
          console.log(res.id);
        },

    });


  });  
}

  $(document).ready(function() {

      $("#model-name").change(function() {

          var title = $("#model-name").val();
          var slug = getSlug(title);
          $("#slug-value").html(slug);
          $("#model-slug").val(slug);

      });

      $(".model-form").submit(function(e) {
          
          var formdata = new FormData(e.target);
          console.log('submitting');
          var url = $(e.target).attr('action');
          console.log('url = ' + url);
          
          $.ajax({
              url: url,
              type: 'POST',
              data: formdata,
              contentType: false,
              processData: false,
              success: function(res) {
                console.log('success!');
                console.log(res.id);
                submit_metaterms(res.id);
                //location.reload();
              },

          });

          return false;
      });


  });

</script>

{% endblock %}