{% extends "web/base.html" %}

{% block title %}CORDEX Experiment Manager | Profile {% endblock %}

{% block content %}

	<div class="row">
		<h3>Name: {{ user.first_name }} {{ user.last_name}}</h3>
    <h4>Email: {{ user.email }}</h4>
	</div>

	{% if not show_form %}
		<div class="row">
			<h4>Affiliation: {{ user_profile.institution }}</h4>
			<h4>Country: {{ user_profile.country }}</h4>
			<a class="btn btn-primary btn-sm" href="{% url 'web-profile' %}?edit" role="button">Edit user details</a>
		</div>
	{% else %}
		<div class="row">
			<form action="{% url 'web-profile' %}" method="POST">
				{% csrf_token %}
				 <div class="form-group">
    				<label for="instution">Institution</label>
    				<input type="text" name="institution" class="form-control" id="institution" placeholder="Enter your instution name" value="{{ user_profile.institution }}">
    				<label for="country">Country</label>
    				<input type="text" name="country" class="form-control" id="country" placeholder="Country name" value="{{ user_profile.country }}">
 				 </div>
				<input type="submit" value="update details">
			</form>

		</div>
	{% endif %}
	<hr/>
    <script>

      $(document).ready(function() {

      	  $("#model-name").change(function() {

      	  		var title = $("#model-name").val();
      	  		var slug = getSlug(title);
      	  		$("#slug-value").html(slug);
      	  		$("#model-slug").val(slug);

      	  });
      

          $(".model-form").submit(function(e) {
              
              var formdata = new FormData(e.target);
              console.log('submitting');
              var url = $(e.target).attr('action');
              console.log('url = ' + url);
              
              $.ajax({
                  url: url,
                  type: 'POST',
                  data: formdata,
                  contentType: false,
                  processData: false,
                  success: function(res) { 
                    console.log('success!');
                    location.reload();
                  },

              });

              return false;
          });

          $(".model-delete").click(function(e) {
              var formdata = new FormData();
              console.log("delete!");
              var url = $(e.target).attr('href');
              console.log(url);
              
              formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
              formdata.append('_method', 'DELETE');

              $.ajax({
                  url: url,
                  data: formdata,
                  contentType: false,
                  processData: false,
                  type: 'POST',
                  success: function(res) { 
                    console.log('response: ' + res);
                    location.reload();
                  }
              });

              return false;    
          });

      });
    </script>

{% endblock %}