{% extends "web/base.html" %}

{% block title %}CORDEX Experiment Manager | Experiments {% endblock %}

{% block content %}


    <div class="row">
      <h4>You currently have <strong>{{ user_submissions|length }}</strong> submissions active</h4>
    </div>

    {% if user_submissions.count == 0 %}
    <div class="row">
      To create a new submission, locate the <a href="{% url 'web-experiments' 'cordex-esd' %}">experiment</a> you want to submit result to and use the "Create a new submission for this experiment" option.  You can always come back here to view all the submissions you have created.
    </div>
    {% endif %}
    <div class="row">
      {% for submission in user_submissions %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ submission }}</div>
          <div class="panel-body">
              <p>Created: {{ submission.created | date:'H:m D M Y' }} ( last modified: {{ submission.modified | date:'H:m D M Y' }} )</p>
              {% if submission.notes %}
                <p>Notes: {{ submission.notes }} </p>
              {% endif %}            
              <hr/>
              
              <p>
                {% if submission.uploads.all.count == 0 %}
                You have not uploaded any files to this submission
                {% else %}
                You have uploaded <strong>{{ submission.uploads.all | length }}</strong> files to this submission
                {% endif %}
              </p>
              <table class="table table-striped table-condensed">
                <tr>
                  <td><strong>File</strong></td>
                  <td><strong>Format</strong></td>
                  <td><strong>Timestamp</strong></td>
                  <td><strong>Status</strong></td>
                  <td><strong>Actions</strong></td>
                </tr>
              {% for upload in submission.uploads.all %}
                <tr>
                  <td>{{ upload.uploaded.url }}</td>
                  <td>{{ upload.format }}</td>
                  <td>{{ upload.timestamp | date:'H:m D M Y' }}</td>
                  <td>{{ upload.status }}</td>
                  <td><a class="upload-delete" href="{% url 'api:upload-detail' upload.id %}"><span data-toggle="tooltip" data-placement="bottom" title="Delete this upload" class="glyphicon glyphicon-remove-circle"></span></a></td>
                </tr>
              {% endfor %}
              </table>


              <form class="upload-form" action="{% url 'api:upload-list' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="submission" value="{{ submission.id }}">

                  <div class="form-group">
                      <label for="{{ upload_form.uploaded.id_for_label }}">Select a file to upload</label>
                        {{ upload_form.uploaded }}
                  </div>
                  <div class="form-group">
                      <label for="{{ upload_form.format.id_for_label }}">Select the data format of the uploaded file</label>
                       {{ upload_form.format }}
                  </div>
                  <input type="submit" value="upload">
              </form>

<div class="modal fade" id="uploadModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Uploading file... </p>
	<img src="/cordex-manager/static/web/images/ajax-loader.gif">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


          </div>
        </div>
      {% endfor %}
    </div>


    <script>

      $(document).ready(function() {

          $(function () {
              $('[data-toggle="tooltip"]').tooltip()
          });

          $(".upload-form").submit(function(e) {
              
              var formdata = new FormData(e.target);
              console.log('submitting');
              var url = $(e.target).attr('action');
              console.log('url = ' + url);

              $('#uploadModal').modal('show');
             
              $.ajax({
                  url: url,
                  type: 'POST',
                  data: formdata,
                  contentType: false,
                  processData: false,
                  success: function(res) { 
                    console.log('success!');
                    location.reload();
                  },

              });
              return false;
          });

          $(".upload-delete > span").click(function(e) {
              alert('deleting');
              var formdata = new FormData();
              console.log("delete!");
              var url = $(e.target).parent().attr('href');
              console.log(url);
              
              formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
              formdata.append('_method', 'DELETE');

              $.ajax({
                  url: url,
                  data: formdata,
                  contentType: false,
                  processData: false,
                  type: 'POST',
                  success: function(res) { 
                    console.log('response: ' + res);
                    location.reload();
                  }
              });

              return false;    
          });

      });
    </script>

{% endblock %}

